body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    text-align: center;
}

.config {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#mainMenu {
    margin: 5px;
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    top: 0;
    left: 0;
}

li {
    color: red;
    word-break: break-word;
}

#lista {
    position: relative;
    padding: 5px;
    font-size: 15px;
}

.editButton {
    position: relative;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

.deleteButton {
    position: relative;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}

.check {
    position: relative;
    top: 6px;
    width: 20px;
    height: 20px;
}

.completed {
    color:lawngreen;
}

::marker {
    color: black;
}